@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #09090B;
    --card: #FFFFFF;
    --card-foreground: #09090B;
    --popover: #FFFFFF;
    --popover-foreground: #09090B;
    --primary: #2E3B96;
    --primary-foreground: #FAFAFA;
    --secondary: #F4F4F5;
    --secondary-foreground: #18181B;
    --muted: #F4F4F5;
    --muted-foreground: #71717A;
    --accent: #e2e2e4;
    --accent-foreground: #18181B;
    --destructive: #EF4444;
    --destructive-foreground: #FAFAFA;
    --border: #E4E4E7;
    --input: #E4E4E7;
    --ring: #18181B;
    --chart-1: #F97316;
    --chart-2: #14B8A6;
    --chart-3: #1E293B;
    --chart-4: #EAB308;
    --chart-5: #F97316;
    --radius: 0.5rem;
  }
  .dark {
    --background: #09090B;
    --foreground: #FAFAFA;
    --card: #09090B;
    --card-foreground: #FAFAFA;
    --popover: #09090B;
    --popover-foreground: #FAFAFA;
    --primary: #FAFAFA;
    --primary-foreground: #18181B;
    --secondary: #27272A;
    --secondary-foreground: #FAFAFA;
    --muted: #27272A;
    --muted-foreground: #A1A1AA;
    --accent: #27272A;
    --accent-foreground: #FAFAFA;
    --destructive: #7F1D1D;
    --destructive-foreground: #FAFAFA;
    --border: #27272A;
    --input: #27272A;
    --ring: #D4D4D8;
    --chart-1: #3B82F6;
    --chart-2: #2DD4BF;
    --chart-3: #FB923C;
    --chart-4: #A855F7;
    --chart-5: #F43F5E;
  }
  h1 {
    @apply text-5xl font-bold;  
  }
  h2 {
    @apply text-4xl font-normal; 
  }
  h3 {
    @apply text-2xl font-normal; 
  }
  h4 {
    @apply text-xl font-normal; 
  }
  h5 {
    @apply text-lg font-normal; 
  }
  h6 {
    @apply text-base font-normal; 
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}